body, html {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

//.logo {
    //text-align: center;
   // margin: 200px;
//}

#event-logo {
    display: block;
    margin: 0 auto;
    max-width: 100px; /* Adjust based on your logo's size */
}

#content {
    text-align: center;
    margin-top: 20px;
}

#nameInput {
    margin-right: 10px;
}

#result {
    margin-top: 20px;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

#nameInput {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
